.animation_bean{
  width: 128px;
  height: 128px;
  //background:  url('/img/BeanJumpRight_Endless.gif');
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  //background: red;
  position: absolute;
};