/**
 * author: Sergej.
 */

@font: Arial;
@pink: #9A2244;
@grey: #67A495;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {height: 100%; width: 100%}

#tpl_login{
  background: url('/img/Wood3_LowerHalf.jpg') top;
  width: 100%;
  height: 100%;
  min-height: 650px;
}

#tpl_logout{
  background: @grey;
  width: 100%;
  height: 100%;
  min-height: 650px;
}

#login_box{
/* position der login box */
  width: 25%;
//  height: 50%; //Determined by content
  top: 25%;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  background: rgba(220, 220, 220, 1);
// min-width: 450px;

//Rounded corners
  border-radius: 10px;
  -moz-border-radius: 10px;  //For Firefox
  -webkit-border-radius: 10px;   //For Inet Exp?

//Border
  border: 4px solid round rgba(32, 32, 32, 1);

//Shadow
  box-shadow:0px 0px 10px rgba(0, 0, 0, 1);
}

#login_box_content{
/* alignment of login fields inside the login box */
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 33.33%;
  text-align: center;
  vertical-align: middle;
}

#tpl_logo{
  background: url('/img/kaffee.jpg') bottom;
  width: 100%;
  height: 100%;
  min-height: 650px;
}

#logo_box{
  /* position der login box */
  width: 50%;
  //  height: 50%; //Determined by content
  top: 20%;

  position: relative;
  margin: 0 auto;
  padding: 20px;
  min-width: 520px;
  max-width: 750px;
  //background gradient for several browsers
  background: #e8dec2; /* Old browsers */
  background: -moz-linear-gradient(top, #e8dec2 0%, #bf8a45 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8dec2), color-stop(100%,#bf8a45)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e8dec2 0%,#bf8a45 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e8dec2 0%,#bf8a45 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e8dec2 0%,#bf8a45 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e8dec2 0%,#bf8a45 100%); /* W3C */

  //Rounded corners
  border-radius: 10px;
  -moz-border-radius: 10px;  //For Firefox
  -webkit-border-radius: 10px;   //For Inet Exp?

  //Border
  border: 4px solid round rgba(32, 32, 32, 1);

  //Shadow
  box-shadow:0px 0px 10px rgba(0, 0, 0, 1);

  h5{
    font-size: 14px;
  }

  h6{
    font-size: 9px;
  }
}

#logo_buttons{
  margin: 0 auto;
}

#tpl_register{
  background: url('/img/Wood3_UpperHalf.jpg') bottom;
  width: 100%;
  height: 100%;
  min-height: 650px;
}

#register_box{
/* position der login box */
  width: 35%;
//  height: 50%; //Determined by content
  top: 25%;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  background: rgba(220, 220, 220, 1);
  min-width: 450px;

//Rounded corners
  border-radius: 10px;
  -moz-border-radius: 10px;  //For Firefox
  -webkit-border-radius: 10px;   //For Inet Exp?

//Border
  border: 4px solid round rgba(32, 32, 32, 1);

//Shadow
  box-shadow:0px 0px 10px rgba(0, 0, 0, 1);
}

#register_box_content{
/* alignment of register fields inside the register box */
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 33.33%;
  text-align: center;
  vertical-align: middle;
}

#tpl_userStats{
//  background: #75889a;
  background: url('/img/Kaffeebohnen169_3.jpg') center repeat;
  width: 100%;
  height: auto;
  min-height: 100%;
}

#tpl_userFields{
  background: @pink;
  width: 100%;
  height: 100%;
  min-height: 650px;
  position: relative;
  clear: both;
}

#logo_text{
/* center */
  width: 100%;
  position: relative;
  margin: auto auto;
  top: 50%;

/* font */
  font-size: 40px;
  text-transform: uppercase;
  font-family: @font;
  text-align: center;
}

#arr_btn_dwn{
  margin: -0 auto;
  margin-bottom: 10px; /* 5px -> wenn es nur einen pfeil pro seite gibt */
  margin-top: -58px;
  position: relative;
  display: block;
  width: 53px;
  height: 53px;
  background: url('/img/arrs.png') no-repeat -1px -163px transparent;
  overflow: hidden;
  z-index:5;
}

#arr_btn_up{
  margin: -0 auto;
  margin-top: 10px; /* 5px -> wenn es nur einen pfeil pro seite gibt */
  margin-bottom: -58px;
  position: relative;
  display: block;
  width: 53px;
  height: 53px;
  background: url('/img/arrs.png') no-repeat -55px -110px transparent;
  overflow: hidden;
  z-index:5;
}

#main_arrow_up{
  top: 35px;
  left: 50%;
  margin-left: -26.5px;
  position: fixed;
  display: block;
  width: 53px;
  height: 53px;
  background: url('/img/arrs.png') no-repeat -55px -110px transparent;
  overflow: hidden;
  z-index: 5;
}

#main_arrow_down{
  bottom: 35px;
  left: 50%;
  margin-left: -26.5px;
  position: fixed;
  display: block;
  width: 53px;
  height: 53px;
  background: url('/img/arrs.png') no-repeat -1px -163px transparent;
  overflow: hidden;
  z-index: 5;
}

#game_feld{
  position: relative;
  float: left;
  width: 12.5%;
  margin-left: 3%;
  margin-top: 1%;
}

#game_panel{
  width: 100%;
  height: 100px;
  position: relative;
  clear: both;
  background: deeppink;
}

.game_panel_icon{
  width: 50px;
  height: 50px;
  background: white;
  position: relative;
  margin-left: 5%;
  margin-top: 5px;
  float: left;
}

#tpl_gameContent{
  background: lightseagreen;
  //padding-top: 30px;
  background: url('/img/Background-Bauer.jpg') no-repeat transparent;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 100%
}

#game{
  z-index: 0;
  min-height: 100%;
  width: 100%;
  height: auto;
}

.overflowList{
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

.overflowListItem{
  margin-left: 10px;
  margin-right: 10px;
}

.list-inline {
  white-space:nowrap;
}