.game_feld_background{
  /* Chrome, Safari,*/
  -webkit-perspective: 150px;
  -webkit-transform: skewX(-20deg);

  /* Fireschmox*/
  -moz-perspective: 150px;
  -moz-transform: skewX(-20deg);
}

.game_roast_empty{
  background: url('/img/Roesten_0.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_roast_state1{
  background: url('/img/Roesten_1.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_roast_state2{
  background: url('/img/Roesten_2.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_roast_state3{
  background: url('/img/Roesten_3.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_feld_empty{
  background: url('/img/field_v2_empty.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_feld_planted{
  background: url('/img/field_v2_planted.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_feld_grown{
  background: url('/img/field_v2_grown.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_feld_harvest{
  background: url('/img/field_v2_harvest.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#game_feld{
  position: relative;
  float: left;
  width: 12.5%;
  margin-left: 3%;
  margin-top: 3%;
}

#game_panel{
  width: 100%;
  height: 100px;
  position: relative;
  background: url('/img/Wood10.jpg') center;
  border: 4px solid rgba(32, 32, 32, 1);
  padding: 10px;
  clear: both;
}

.game_panel_icon_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.game_feld_balken{
  width: 59%;
  position: relative;
  height: 50px;
  margin-left: 12.5%;
  margin-top: -8px;
  float: left;
  background: url('/img/f_balken.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_panel_icon{
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 5%;
  margin-top: 5px;
  float: left;
  background: none;
  opacity: 1;
}

.active_icon{
  opacity: 1.0 !important;
  background: url('/img/iconBG.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.shovel_icon{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: url('/img/shovelicon.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.plant_icon{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: url('/img/planticon.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.harvest_icon{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: url('/img/scytheicon.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.hand_icon{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: url('/img/handicon.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.wreck_icon{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: url('/img/deleteicon.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.build_icon{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: url('/img/pourIcon.png') !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.game_panel_roeste{
  background: url('/img/leinenstoff.jpg') center !important;
  border: 4px solid rgba(32, 32, 32, 1);
}

.game_roeste_background{
  background: url('/img/kaffee_sack02.jpg') no-repeat transparent !important;
  background-size: 100% auto !important;
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#game{
  z-index: 0;
  min-height: 100%;
  width: 100%;
  height: auto;
}